/DB_1.py
/DB_2.py
/DB_3.py
/Django 2
/Django 3
/Django_py
/Excle Work
/index.jpg
/Library Management Mini Project.py
/Matplotlib
/MySQL
/New for os
/Numpy
/Pandas
/Password Cracker
/pypi.html
/Testing
/venv